#LEDS
#NET "led<3>"  LOC = "F11"  ; 
#NET "led<4>"  LOC = "C11"  ; 
#NET "led<5>"  LOC = "D11"  ; 
#NET "led<6>"  LOC = "E9"  ; 
#NET "led<7>"  LOC = "F9"  ; 

#Schalter
NET "RESET"  LOC = "L13" | PULLDOWN  | IOSTANDARD = LVCMOS33 ; 
NET "rot_a"  LOC = "K18" | PULLUP  | IOSTANDARD = LVTTL ; 
NET "rot_b"  LOC = "G18" | PULLUP  | IOSTANDARD = LVTTL ; 
NET "rot_c"  LOC = "V16" | PULLDOWN  | IOSTANDARD = LVTTL ;
#Taster um den Drehencoder herum
NET"BTN_EAST" LOC= "H13" | IOSTANDARD= LVTTL | PULLDOWN;
NET"BTN_NORTH" LOC= "V4" | IOSTANDARD= LVTTL | PULLDOWN;
NET"BTN_SOUTH" LOC= "K17" | IOSTANDARD= LVTTL | PULLDOWN;
NET"BTN_WEST" LOC= "D18" | IOSTANDARD= LVTTL | PULLDOWN;
#Systemtakt 50 MHz
NET "SYSTEM_CLK"  LOC = "C9"  ; 
#Display
#NET "LCD_E"  LOC = "M18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "LCD_RS"  LOC = "L18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "LCD_RW"  LOC = "L17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "sf_CE0"  LOC = "D16" | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 4 ; 
#NET "sf_d<10>"  LOC = "P17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "sf_d<11>"  LOC = "M15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "sf_d<8>"  LOC = "R15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#NET "sf_d<9>"  LOC = "R16" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
#I/O
NET "ROT"  LOC = "F7"   | IOSTANDARD = LVTTL;
NET "GRUEN"  LOC = "E7"   | IOSTANDARD = LVTTL;
NET "BLAU"  LOC = "B6"   | IOSTANDARD = LVTTL;

#NET "led0"  LOC = "F12"  ; 
#NET "led1"  LOC = "E12"  ; 
#NET "led2"  LOC = "E11"  ; 