//! **************************************************************************
// Written by: Map P.15xf on Thu Jun 13 08:46:28 2013
//! **************************************************************************

SCHEMATIC START;
COMP "ROT" LOCATE = SITE "F7" LEVEL 1;
COMP "BLAU" LOCATE = SITE "B6" LEVEL 1;
COMP "GRUEN" LOCATE = SITE "E7" LEVEL 1;
COMP "RESET" LOCATE = SITE "L13" LEVEL 1;
COMP "rot_a" LOCATE = SITE "K18" LEVEL 1;
COMP "rot_b" LOCATE = SITE "G18" LEVEL 1;
COMP "rot_c" LOCATE = SITE "V16" LEVEL 1;
COMP "SYSTEM_CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "BTN_NORTH" LOCATE = SITE "V4" LEVEL 1;
COMP "BTN_SOUTH" LOCATE = SITE "K17" LEVEL 1;
COMP "BTN_EAST" LOCATE = SITE "H13" LEVEL 1;
COMP "BTN_WEST" LOCATE = SITE "D18" LEVEL 1;
NET "SYSTEM_CLK_BUFGP/IBUFG" BEL "SYSTEM_CLK_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

